# bare_metal - USB bootloader
# iCE40UP5K SG48 (QFN 48)

# 12 MHz crystal oscillator (dedicated clock pad)
set_io -nowarn pin_clk_12M      35    # IOT_46b_G0

# USB
set_io -nowarn pin_usbp         42    # IOT_51a  - USB D+
set_io -nowarn pin_usbn         38    # IOT_50b  - USB D-
set_io -nowarn pin_usb_det      37    # IOT_36b  - USB_DET, active-high enables 1k5 pull-up on D+

# btn_ok - skip bootloader, jump to user bitstream
set_io -nowarn pin_btn_ok       23    # IOT_37a

# btn_down - stay in bootloader even when not enumerated by host
set_io -nowarn pin_btn_down     11    # IOB_20a

# LED indicators - three white LEDs
set_io -nowarn pin_led_index    39    # white_index
set_io -nowarn pin_led_middle   40    # white_middle
set_io -nowarn pin_led_pinky    41    # white_pinky

# SPI configuration flash
set_io -nowarn pin_spi_mosi     14    # IOB_32a - SPI_SO, MOSI
set_io -nowarn pin_spi_miso     17    # IOB_33b - SPI_SI, MISO
set_io -nowarn pin_spi_sck      15    # IOB_34a - SPI_SCK
set_io -nowarn pin_spi_cs       16    # IOB_35b - SPI_SS
set_io -nowarn pin_spi_wp       18    # IOB_31b - SPI_WPn
set_io -nowarn pin_spi_hold     19    # IOB_29b - SPI_HOLDn
